.block-breadcrumb .breadcrumb li.active {
    color: #ff6600;
}
.block-search .block-search-inner {
    border: 1px solid #ff6600;
}
.block-search .form-category:after {
    color: #ff6600;
}
.btn-search {
    background: #ff6600;
}
.block-info i {
    color: #ff6600;
}
.menu-top {
    background: #ff6600;
}
.block_big-title h1 {
    color: #ff6600;
}
.block_big-title h2 {
    color: #ff6600;
}
.block-title-commom .block-title h1 {
    background: #ff6600;
}
.block-title-commom .block-title h2 {
    background: #ff6600;
}
.block-product .item:hover {
    background: #ff6600;
}
.block-news li:hover .des h2 a,
.block-news li:hover .des h2 a {
    color: #ff6600;
}
.block-number .list li .number {
    color: #ff6600;
}
.ft-title .block-title:after {
    border-bottom: 2px solid #ff6600;
}
.ft-link .list li:before {
    color: #ff6600;
}
.ft-link .list li a:hover {
    color: #ff6600;
}
.resgis-form .btn-regis {
    background: #ff6600;
}
footer .footer-bot {
    background: #ff6600;
}
.block-article .title {
    color: #ff6600;
}
.block-members .block-title h2 {
    color: #ff6600;
}
.block-members .active.center li.item img {
    border: 2px solid #ff6600;
}
.block-members .active.center li.item .name {
    color: #ff6600;
}
.block-ct-pro .item:hover {
    border: 2px solid #ff6600;
}
.block-ct-pro .item .des a {
    color: #ff6600;
}
.block-ct-news .item:hover .des a {
    color: #ff6600;
}
.block-dt-news .title {
    color: #ff6600;
}
.block-tags li.tags-link.active a,
.block-tags li.tags-link:hover a {
    background: #ff6600;
}
.block-module .block-title h2 {
    background: #ff6600;
}
.block-news-sidebar .list .item:hover .description h2 {
    color: #ff6600;
}
.block-links-sidebar .list li:before {
    color: #ff6600;
}
.block-links-sidebar .list li:hover a,
.block-links-sidebar .list li a.active {
    color: #ff6600;
}
.block-pagination .pagination>li>a,
.block-pagination .pagination>li>span {
    border: 1px solid #ff6600;
}
.block-pagination .pagination>.active>a,
.block-pagination .pagination>.active>a:focus,
.block-pagination .pagination>.active>a:hover,
.block-pagination .pagination>.active>span,
.block-pagination .pagination>.active>span:focus,
.block-pagination .pagination>.active>span:hover {
    background: #ff6600;
}
.block-pagination .pagination>li>a:focus,
.block-pagination .pagination>li>a:hover,
.block-pagination .pagination>li>span:focus,
.block-pagination .pagination>li>span:hover {
    background: #ff6600;
}
.block-service .item .des .title {
    color: #ff6600;
}
.block-form .btn-view {
    background: #ff6600;
}
h2.tit-page {
    color: #ff6600;
}
h2.tit-page2 {
    margin-bottom: 20px;
}
h2.tit-page3 {
    color: #ff6600;
}
.block-slide-detail #carousel.flexslider .flex-active-slide img {
    border: 1px solid #ff6600;
}
.block-detail-info li:before {
    color: #ff6600;
}
.block-tabs .nav-tabs {
    border-bottom: 1px solid #ff6600;
}
.block-tabs .nav-tabs>li>a {
    background-color: #ff6600;
}
.block-tabs .nav-tabs>li.active>a,
.block-tabs .nav-tabs>li.active>a:focus,
.block-tabs .nav-tabs>li.active>a:hover {
    background-color: #ff6600;
}
.block-tabs .nav>li>a:focus,
.block-tabs .nav>li>a:hover {
    background-color: #ff6600;
}
.block-tabs .tab-content {
    border-right: 1px solid #ff6600;
    border-bottom: 1px solid #ff6600;
    border-left: 1px solid #ff6600;
}
.block-tabs .title {
    color: #ff6600;
}
.block-relative .item .des a {
    color: #ff6600;
}
.block-relative ul .center li.item,
.block-relative ul li.item:hover {
    border: 2px solid #ff6600;
}
.td-scroll-up:hover {
    background: #ff6600;
}
.nav-toogle i {
    background: #ff6600;
}
.ft-contact address p a {
    color: #ff6600 !important;
}